# FastAPI Application
APP_TITLE='FastAPI Docker Project1'
APP_DESCRIPTION='A FastAPI project with Docker, SQLModel, and migrations'
APP_VERSION=1.0.0

# Database
DATABASE_URL=postgresql://user:password@db:5432/fastapi_db

# Application
SECRET_KEY=your-secret-key-here
DEBUG=True

# CORS
ALLOWED_HOSTS=http://localhost:3000,http://127.0.0.1:3000